/* Brush Trees by Abraham White &lt;abelincoln.white@gmail.com&gt; */

:root {
  --base00: #e3efef;
  --base01: #c9dbdc;
  --base02: #b0c5c8;
  --base03: #98afb5;
  --base04: #8299a1;
  --base05: #6d828e;
  --base06: #5a6d7a;
  --base07: #485867;
  --base08: #b38686;
  --base09: #d8bba2;
  --base0A: #aab386;
  --base0B: #87b386;
  --base0C: #86b3b3;
  --base0D: #868cb3;
  --base0E: #b386b2;
  --base0F: #b39f9f;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
