/* Sandcastle by George Essig (https://github.com/gessig) */

:root {
  --base00: #282c34;
  --base01: #2c323b;
  --base02: #3e4451;
  --base03: #665c54;
  --base04: #928374;
  --base05: #a89984;
  --base06: #d5c4a1;
  --base07: #fdf4c1;
  --base08: #83a598;
  --base09: #a07e3b;
  --base0A: #a07e3b;
  --base0B: #528b8b;
  --base0C: #83a598;
  --base0D: #83a598;
  --base0E: #d75f5f;
  --base0F: #a87322;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
