/* Terracotta Dark by Alexander Rossell Hayes (https://github.com/rossellhayes) */

:root {
  --base00: #241d1a;
  --base01: #362b27;
  --base02: #473933;
  --base03: #594740;
  --base04: #a78e84;
  --base05: #b8a59d;
  --base06: #cabbb5;
  --base07: #dcd2ce;
  --base08: #f6998f;
  --base09: #ffa888;
  --base0A: #ffc37a;
  --base0B: #b6c68a;
  --base0C: #c0bcdb;
  --base0D: #b0a4c3;
  --base0E: #d8a2b0;
  --base0F: #f1ae97;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
