/* Brogrammer by Vik Ramanujam (http://github.com/piggyslasher) */

:root {
  --base00: #1f1f1f;
  --base01: #f81118;
  --base02: #2dc55e;
  --base03: #ecba0f;
  --base04: #2a84d2;
  --base05: #4e5ab7;
  --base06: #1081d6;
  --base07: #d6dbe5;
  --base08: #d6dbe5;
  --base09: #de352e;
  --base0A: #1dd361;
  --base0B: #f3bd09;
  --base0C: #1081d6;
  --base0D: #5350b9;
  --base0E: #0f7ddb;
  --base0F: #ffffff;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
