/* Kanagawa by Tommaso Laurenzi (https://github.com/rebelot) */

:root {
  --base00: #1f1f28;
  --base01: #16161d;
  --base02: #223249;
  --base03: #54546d;
  --base04: #727169;
  --base05: #dcd7ba;
  --base06: #c8c093;
  --base07: #717c7c;
  --base08: #c34043;
  --base09: #ffa066;
  --base0A: #c0a36e;
  --base0B: #76946a;
  --base0C: #6a9589;
  --base0D: #7e9cd8;
  --base0E: #957fb8;
  --base0F: #d27e99;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
