/* Da One Gray by NNB (https://github.com/NNBnh) */

:root {
  --base00: #181818;
  --base01: #282828;
  --base02: #585858;
  --base03: #888888;
  --base04: #c8c8c8;
  --base05: #ffffff;
  --base06: #ffffff;
  --base07: #ffffff;
  --base08: #fa7883;
  --base09: #ffc387;
  --base0A: #ff9470;
  --base0B: #98c379;
  --base0C: #8af5ff;
  --base0D: #6bb8ff;
  --base0E: #e799ff;
  --base0F: #b3684f;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
