/* Tokyo City Dark by Michaël Ball */

:root {
  --base00: #171d23;
  --base01: #1d252c;
  --base02: #28323a;
  --base03: #526270;
  --base04: #b7c5d3;
  --base05: #d8e2ec;
  --base06: #f6f6f8;
  --base07: #fbfbfd;
  --base08: #f7768e;
  --base09: #ff9e64;
  --base0A: #b7c5d3;
  --base0B: #9ece6a;
  --base0C: #89ddff;
  --base0D: #7aa2f7;
  --base0E: #bb9af7;
  --base0F: #bb9af7;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
