/* Deep Oceanic Next by spearkkk (https://github.com/spearkkk/deep-oceanic-next) */

:root {
  --base00: #003b46;
  --base01: #004f5e;
  --base02: #006374;
  --base03: #007a8a;
  --base04: #0093a3;
  --base05: #dce3e8;
  --base06: #e6ebf0;
  --base07: #f0f5f5;
  --base08: #e6454b;
  --base09: #ff6a4b;
  --base0A: #ffcc66;
  --base0B: #85b57a;
  --base0C: #4da6a6;
  --base0D: #3a82e6;
  --base0E: #8c4de6;
  --base0F: #e673a3;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
