/* Moonlight by Jeremy Swinarton (https://github.com/jswinarton) */

:root {
  --base00: #212337;
  --base01: #403c64;
  --base02: #596399;
  --base03: #748cd6;
  --base04: #a1abe0;
  --base05: #a3ace1;
  --base06: #b4a4f4;
  --base07: #ef43fa;
  --base08: #ff5370;
  --base09: #f67f81;
  --base0A: #ffc777;
  --base0B: #2df4c0;
  --base0C: #04d1f9;
  --base0D: #40ffff;
  --base0E: #b994f1;
  --base0F: #ecb2f0;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
