/* Material Darker by Nate Peterson */

:root {
  --base00: #212121;
  --base01: #303030;
  --base02: #353535;
  --base03: #4a4a4a;
  --base04: #b2ccd6;
  --base05: #eeffff;
  --base06: #eeffff;
  --base07: #ffffff;
  --base08: #f07178;
  --base09: #f78c6c;
  --base0A: #ffcb6b;
  --base0B: #c3e88d;
  --base0C: #89ddff;
  --base0D: #82aaff;
  --base0E: #c792ea;
  --base0F: #ff5370;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
