/* Rebecca by Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme) */

:root {
  --base00: #292a44;
  --base01: #663399;
  --base02: #383a62;
  --base03: #666699;
  --base04: #a0a0c5;
  --base05: #f1eff8;
  --base06: #ccccff;
  --base07: #53495d;
  --base08: #a0a0c5;
  --base09: #efe4a1;
  --base0A: #ae81ff;
  --base0B: #6dfedf;
  --base0C: #8eaee0;
  --base0D: #2de0a7;
  --base0E: #7aa5ff;
  --base0F: #ff79c6;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
