/* Summerfruit Dark by Christopher Corley (http://christop.club/) */

:root {
  --base00: #151515;
  --base01: #202020;
  --base02: #303030;
  --base03: #505050;
  --base04: #b0b0b0;
  --base05: #d0d0d0;
  --base06: #e0e0e0;
  --base07: #ffffff;
  --base08: #ff0086;
  --base09: #fd8900;
  --base0A: #aba800;
  --base0B: #00c918;
  --base0C: #1faaaa;
  --base0D: #3777e6;
  --base0E: #ad00a1;
  --base0F: #cc6633;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
