/* selenized-dark by Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali */

:root {
  --base00: #103c48;
  --base01: #184956;
  --base02: #2d5b69;
  --base03: #72898f;
  --base04: #72898f;
  --base05: #adbcbc;
  --base06: #cad8d9;
  --base07: #cad8d9;
  --base08: #fa5750;
  --base09: #ed8649;
  --base0A: #dbb32d;
  --base0B: #75b938;
  --base0C: #41c7b9;
  --base0D: #4695f7;
  --base0E: #af88eb;
  --base0F: #f275be;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
