/* Katy by George Essig (https://github.com/gessig) */

:root {
  --base00: #292d3e;
  --base01: #444267;
  --base02: #5c598b;
  --base03: #676e95;
  --base04: #8796b0;
  --base05: #959dcb;
  --base06: #959dcb;
  --base07: #ffffff;
  --base08: #6e98e1;
  --base09: #f78c6c;
  --base0A: #e0a557;
  --base0B: #78c06e;
  --base0C: #83b7e5;
  --base0D: #82aaff;
  --base0E: #c792ea;
  --base0F: #ff5370;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
