/* Tokyo Night Moon by Ólafur Bjarki Bogason */

:root {
  --base00: #222436;
  --base01: #1e2030;
  --base02: #2d3f76;
  --base03: #636da6;
  --base04: #828bb8;
  --base05: #3b4261;
  --base06: #828bb8;
  --base07: #c8d3f5;
  --base08: #ff757f;
  --base09: #ffc777;
  --base0A: #ffc777;
  --base0B: #c3e88d;
  --base0C: #86e1fc;
  --base0D: #82aaff;
  --base0E: #fca7ea;
  --base0F: #c53b53;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
