/* Railscasts by Ryan Bates (http://railscasts.com) */

:root {
  --base00: #2b2b2b;
  --base01: #272935;
  --base02: #3a4055;
  --base03: #5a647e;
  --base04: #d4cfc9;
  --base05: #e6e1dc;
  --base06: #f4f1ed;
  --base07: #f9f7f3;
  --base08: #da4939;
  --base09: #cc7833;
  --base0A: #ffc66d;
  --base0B: #a5c261;
  --base0C: #519f50;
  --base0D: #6d9cbe;
  --base0E: #b6b3eb;
  --base0F: #bc9458;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
