/* Espresso by Unknown. Maintained by Alex Mirrington (https://github.com/alexmirrington) */

:root {
  --base00: #2d2d2d;
  --base01: #393939;
  --base02: #515151;
  --base03: #777777;
  --base04: #b4b7b4;
  --base05: #cccccc;
  --base06: #e0e0e0;
  --base07: #ffffff;
  --base08: #d25252;
  --base09: #f9a959;
  --base0A: #ffc66d;
  --base0B: #a5c261;
  --base0C: #bed6ff;
  --base0D: #6c99bb;
  --base0E: #d197d9;
  --base0F: #f97394;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
