/* Mocha by Chris Kempson (http://chriskempson.com) */

:root {
  --base00: #3b3228;
  --base01: #534636;
  --base02: #645240;
  --base03: #7e705a;
  --base04: #b8afad;
  --base05: #d0c8c6;
  --base06: #e9e1dd;
  --base07: #f5eeeb;
  --base08: #cb6077;
  --base09: #d28b71;
  --base0A: #f4bc87;
  --base0B: #beb55b;
  --base0C: #7bbda4;
  --base0D: #8ab3b5;
  --base0E: #a89bb9;
  --base0F: #bb9584;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
