/* Darktooth by Jason Milkins (https://github.com/jasonm23) */

:root {
  --base00: #1d2021;
  --base01: #32302f;
  --base02: #504945;
  --base03: #665c54;
  --base04: #928374;
  --base05: #a89984;
  --base06: #d5c4a1;
  --base07: #fdf4c1;
  --base08: #fb543f;
  --base09: #fe8625;
  --base0A: #fac03b;
  --base0B: #95c085;
  --base0C: #8ba59b;
  --base0D: #0d6678;
  --base0E: #8f4673;
  --base0F: #a87322;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
