/* Gruvbox dark, pale by Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox) */

:root {
  --base00: #262626;
  --base01: #3a3a3a;
  --base02: #4e4e4e;
  --base03: #8a8a8a;
  --base04: #949494;
  --base05: #dab997;
  --base06: #d5c4a1;
  --base07: #ebdbb2;
  --base08: #d75f5f;
  --base09: #ff8700;
  --base0A: #ffaf00;
  --base0B: #afaf00;
  --base0C: #85ad85;
  --base0D: #83adad;
  --base0E: #d485ad;
  --base0F: #d65d0e;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
