/* Horizon Terminal Light by Michaël Ball (http://github.com/michael-ball/) */

:root {
  --base00: #fdf0ed;
  --base01: #fadad1;
  --base02: #f9cbbe;
  --base03: #bdb3b1;
  --base04: #948c8a;
  --base05: #403c3d;
  --base06: #302c2d;
  --base07: #201c1d;
  --base08: #e95678;
  --base09: #f9cec3;
  --base0A: #fadad1;
  --base0B: #29d398;
  --base0C: #59e1e3;
  --base0D: #26bbd9;
  --base0E: #ee64ac;
  --base0F: #f9cbbe;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
