/* Jabuti by https://github.com/notusknot */

:root {
  --base00: #292a37;
  --base01: #343545;
  --base02: #3c3e51;
  --base03: #45475d;
  --base04: #50526b;
  --base05: #c0cbe3;
  --base06: #d9e0ee;
  --base07: #ffffff;
  --base08: #ec6a88;
  --base09: #efb993;
  --base0A: #e1c697;
  --base0B: #3fdaa4;
  --base0C: #ff7eb6;
  --base0D: #3fc6de;
  --base0E: #be95ff;
  --base0F: #8b8da9;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
