/* Ayu Mirage by Khue Nguyen &lt;Z5483Y@gmail.com&gt; */

:root {
  --base00: #171b24;
  --base01: #1f2430;
  --base02: #242936;
  --base03: #707a8c;
  --base04: #8a9199;
  --base05: #cccac2;
  --base06: #d9d7ce;
  --base07: #f3f4f5;
  --base08: #f28779;
  --base09: #ffad66;
  --base0A: #ffd173;
  --base0B: #d5ff80;
  --base0C: #95e6cb;
  --base0D: #5ccfe6;
  --base0E: #d4bfff;
  --base0F: #f29e74;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
