/* iA Dark by iA Inc. (modified by aramisgithub) */

:root {
  --base00: #1a1a1a;
  --base01: #222222;
  --base02: #1d414d;
  --base03: #767676;
  --base04: #b8b8b8;
  --base05: #cccccc;
  --base06: #e8e8e8;
  --base07: #f8f8f8;
  --base08: #d88568;
  --base09: #d86868;
  --base0A: #b99353;
  --base0B: #83a471;
  --base0C: #7c9cae;
  --base0D: #8eccdd;
  --base0E: #b98eb2;
  --base0F: #8b6c37;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
