/* Equilibrium Light by Carlo Abelli */

:root {
  --base00: #f5f0e7;
  --base01: #e7e2d9;
  --base02: #d8d4cb;
  --base03: #73777f;
  --base04: #5a5f66;
  --base05: #43474e;
  --base06: #2c3138;
  --base07: #181c22;
  --base08: #d02023;
  --base09: #bf3e05;
  --base0A: #9d6f00;
  --base0B: #637200;
  --base0C: #007a72;
  --base0D: #0073b5;
  --base0E: #4e66b6;
  --base0F: #c42775;
}

:root {
    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}
